<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Student Attendance & Assessment</title>
        <link href="stylesheet/style.css" rel="stylesheet" type="text/css" />
        <!--[if IE 7]>
        <link href="stylesheet/style-IE.css" rel="stylesheet" type="text/css" />
        <![endif]-->
    </head>

    <body>
        <div id="top">
            <div id="logo"><img src="images/logo.gif" alt="Logo" /></div>
            <div id="label"><h1>Administrator</h1></div>

        </div>
        <div id="wrapper">
            <div id="mainmenu">
                <div id="menu_left">&nbsp;</div>
                <div id="menu_right">&nbsp;</div>
                <div id="menu">

                    <ul>
                        <li id="main_menu"><a href="">Main</a></li>
                        <li><a href="">Teachers</a></li>
                        <li><a href="">Students</a></li>
                        <li><a href="">Classes</a></li>
                        <li><a href="">View Report</a></li>
                        <li><a href="">NGOs</a></li>

                    </ul>

                </div>

            </div>
            <div class="clear">&nbsp;</div>

            <div id="content">
                <div id="top_content">
                    <div id="content_top_left">&nbsp;</div>
                    <div id="content_top_right">&nbsp;</div>
                    <div id="content_top_m">&nbsp;</div>
                </div>

                <div id="main_content">
                    test<br />test<br />test<br />test<br />test<br />

test<br />test<br />test<br />test<br />test<br />
test<br />test<br />test<br />test<br />test<br />
test<br />test<br />test<br />test<br />test<br />
test<br />test<br />test<br />test<br />test<br />
test<br />test<br />test<br />test<br />test<br />
test<br />test<br />test<br />test<br />test<br />
test<br />test<br />test<br />test<br />test<br />
test<br />test<br />test<br />test<br />test<br />
test<br />test<br />test<br />test<br />test<br />
test<br />test<br />test<br />test<br />test<br />
test<br />test<br />test<br />test<br />test<br />
test<br />test<br />test<br />test<br />test<br />
test<br />test<br />test<br />test<br />test<br />
test<br />test<br />test<br />test<br />test<br />
test<br />test<br />test<br />test<br />test<br />
test<br />test<br />test<br />test<br />test<br />
test<br />test<br />test<br />test<br />test<br />
test<br />test<br />test<br />test<br />test<br />
test<br />test<br />test<br />test<br />test<br />
test<br />test<br />test<br />test<br />test<br />
test<br />test<br />test<br />test<br />test<br />
test<br />test<br />test<br />test<br />test<br />
test<br />test<br />test<br />test<br />test<br />
test<br />test<br />test<br />test<br />test<br />

                </div>


                <div id="bottom_content">
                    <div id="content_bottom_left">&nbsp;</div>
                    <div id="content_bottom_right">&nbsp;</div>
                    <div id="content_bottom_m">&nbsp;</div>
                </div>
                <div class="clear">&nbsp;</div>
            </div>
        </div>


        <div id="footer">
            <div id="copy_right">Krama Yogo Cambodia <br />
                &copy; Isabelles Skaburskis  2012</div>
            <div id="image_fotter">
                <img src="images/footer_imge.png" alt="footer image" />
            </div>
        </div>
    </body>
</html>
